PORT=5000
MONGO_URI=mongodb://khanhassan1032:khan0786@ac-y84kcp3-shard-00-00.n8i7gys.mongodb.net:27017,ac-y84kcp3-shard-00-01.n8i7gys.mongodb.net:27017,ac-y84kcp3-shard-00-02.n8i7gys.mongodb.net:27017/expense_tracker?ssl=true&authSource=admin&retryWrites=true&w=majority
NODE_ENV=development
